:root{
  --bgi3: url(../Images/GPT.png);
  --br: 1rem;
  --secondary: #ff9800;
}


body{
  padding: 0px;
  margin: 0px;
  background-color: #f4f4f4;
  border-radius: var(--br);
  
}

/*HEADER*/

.title{
  color: #ff9800;
  font-size: 400%;
  margin-right: 15%;
}

header{
  background-color: #222;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: var(--br);
}

.logo img{
  width: 10em;
  border-radius: 3rem;
  transition: 300ms ease-in;
}

.logo img:hover{
  border-radius: 1rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  font-size: 120%;
  padding-right: 5vh;
}

nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff9800;
}

.inicio{
  background-color: #ac7d37;
  border-radius: var(--br);
}

/*ELEMENTOS*/
.main{
  background-color:#f4f4f4;
  height: auto;
  margin: 40px;
  padding: 20px;
}

.main h1{
  font-weight: bold;
  color: #000000;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding-left: 10%;
  margin-bottom: 25px;
}


.card-elementos {
  background: white;
  padding: 22px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0,0,0,.08);
  border-top: 6px solid transparent;
  transition: transform .25s ease, box-shadow .25s ease;
  width: 80%;
}

.card-elementos p {
  color: #444;
  font-size: 16px;
}

.card-elementos {
  border-top-color: var(--secondary);
}


/*Tabla*/

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: center;
}

.lista{
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}


/*FOOTER*/

footer {
  background-color: #222;
  color: #ddd;
  padding: 20px 40px;
  border-radius: 1rem;
  margin-top: 1%;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-section {
  flex: 1;
  margin: 10px;
}
.footer-section h3 {
  color: #ff9800;
}
.footer-section ul {
  list-style: none;
  padding: 0;
}
.footer-section ul li {
  margin: 5px 0;
}
.footer-section ul li a {
  color: #ddd;
  text-decoration: none;
}
.footer-section ul li a:hover {
  color: #ff9800;
}
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #444;
  padding-top: 10px;
}

p a{
  color: aqua;
}

#lien a{
  font-style: italic;
  color: aqua;
}

#lien a:hover{
  color: rgb(22, 199, 81);
}

#lien a:active{
  background-color: #ffffff;
  color: #222;
}